{
  "gmail": {
    "user": "gmail-username",
    "password": "gmail-password"
  }
  "host": {
    "url": "http://ddproulette.wyplay.int/"
  },
  "service": {
    "sender": "delicedepates@gmail.com"
  }
}
